<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" xmlns:w16se="http://schemas.microsoft.com/office/word/2015/wordml/symex" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14 w15 w16se">
  <w:zoom w:percent="100"/>
  <w:proofState w:spelling="clean" w:grammar="clean"/>
  <w:defaultTabStop w:val="708"/>
  <w:hyphenationZone w:val="425"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:compat>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00FB64F4"/>
    <w:rsid w:val="00044F6D"/>
    <w:rsid w:val="000A04CF"/>
    <w:rsid w:val="000D24AB"/>
    <w:rsid w:val="000E496A"/>
    <w:rsid w:val="000E7D0C"/>
    <w:rsid w:val="001104A3"/>
    <w:rsid w:val="001155B0"/>
    <w:rsid w:val="00135026"/>
    <w:rsid w:val="001D2004"/>
    <w:rsid w:val="001D6C89"/>
    <w:rsid w:val="00200041"/>
    <w:rsid w:val="00211DD2"/>
    <w:rsid w:val="00216045"/>
    <w:rsid w:val="00251CA5"/>
    <w:rsid w:val="002A3258"/>
    <w:rsid w:val="002C517C"/>
    <w:rsid w:val="003B3D5F"/>
    <w:rsid w:val="003B5020"/>
    <w:rsid w:val="003C11A1"/>
    <w:rsid w:val="00447F30"/>
    <w:rsid w:val="00522A5E"/>
    <w:rsid w:val="005813A6"/>
    <w:rsid w:val="00595B27"/>
    <w:rsid w:val="005C57ED"/>
    <w:rsid w:val="00635EB8"/>
    <w:rsid w:val="006A6185"/>
    <w:rsid w:val="006B68D2"/>
    <w:rsid w:val="007031F3"/>
    <w:rsid w:val="00780590"/>
    <w:rsid w:val="007C29AC"/>
    <w:rsid w:val="007C4B52"/>
    <w:rsid w:val="00834EE6"/>
    <w:rsid w:val="00864991"/>
    <w:rsid w:val="008661EE"/>
    <w:rsid w:val="008B2DD1"/>
    <w:rsid w:val="008E710C"/>
    <w:rsid w:val="009457BD"/>
    <w:rsid w:val="00A056BE"/>
    <w:rsid w:val="00A113F1"/>
    <w:rsid w:val="00B05619"/>
    <w:rsid w:val="00B45920"/>
    <w:rsid w:val="00B64B7C"/>
    <w:rsid w:val="00B943EB"/>
    <w:rsid w:val="00C25816"/>
    <w:rsid w:val="00C3107E"/>
    <w:rsid w:val="00CC75B9"/>
    <w:rsid w:val="00CE07CE"/>
    <w:rsid w:val="00D45FBA"/>
    <w:rsid w:val="00D9118A"/>
    <w:rsid w:val="00DD555E"/>
    <w:rsid w:val="00DF5FA9"/>
    <w:rsid w:val="00E079EA"/>
    <w:rsid w:val="00E403C1"/>
    <w:rsid w:val="00E60369"/>
    <w:rsid w:val="00E6104C"/>
    <w:rsid w:val="00F77CEF"/>
    <w:rsid w:val="00FB64F4"/>
    <w:rsid w:val="00FC5C53"/>
    <w:rsid w:val="00FD0D90"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="fr-FR"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="1026"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:decimalSymbol w:val=","/>
  <w:listSeparator w:val=";"/>
  <w14:docId w14:val="00BAE600"/>
  <w15:chartTrackingRefBased/>
  <w15:docId w15:val="{765DF953-3168-427B-9163-EC120BE0A2BC}"/>
</w:settings>
